* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: rgb(185, 181, 181);
    color: white;
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(143, 141, 141);
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input,textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #1a1a1a;
    color: white;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #666;
}

.voltar {
    border: 2.5px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
}